.regra1{
    background-color: aqua;
}

.regra2{
    background-color: ;
}

.regra3{
    background-color: ;
}

.regra4{
    background-color: ;
}

.regra5{
    margin-top: 10px ;
    width: 100%
}

.regra6{
   margin-top: ;
}


.regra7{
    margin-top: ;
 }
