#regra1{
    font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
    color:red;

}

#regra2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: greenyellow;


}

#regra3{
    font-family: 'Comic Sans MS', Times, serif;
    font-size: 20px;
    background-color: blue;
    font-style: italic;



}


#regra4{
    color: yellow;
    font: weight 600px;
    font-size: 14px;
    background-color: greenyellow;



}